.page__content {
    max-width: calc(1280px - 200px*2);
    width: 100%;
    margin: auto;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media all and (max-width: 1279px) {
    .page__content {
        max-width: calc(100% - 50px*2);
    }
}


@media all and (max-width: 600px) {
    .page__content {
        max-width: 100%;
    }
}

