.cards__item {
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 362px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    position: relative;
}

.cards__item:hover {
    cursor: pointer;
}