.footer {
    padding-bottom: 60px;
    box-sizing: border-box;
}

@media all and (max-width: 600px) {
    .footer{
        max-width: calc(100% - 19px*2);
        margin: auto;
        padding-bottom: 36px;
    }
}