.card__delete-button {
    background-color: transparent;
    width: 18px;
    height: 19px;
    background-image: url('../../../images/delete-icon.svg');
    border: none;
    outline: none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.card__delete-button:hover {
    opacity: 0.6;
}
